body{
    background-color: #DCDCDC;
    margin: 0px;
}

.top-container{
    background-color: white;
    margin: 0px auto;
    border: 0px;
    padding: 0px;
    position: relative;
    width: 100%;
    height: 60px;
}

.logo-container{
    background-color: white;
    margin: 0px auto;
    position: relative;
    width: 217px;
    height: 60px;
    left: -450px;
}

.title1-container {
    margin: 0px auto;
    position: relative;
    width: 60px;
    height: 30px;
    background-color: white;
    top: -40px;
    left: -260px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.title2-container {
    margin: 0px auto;
    position: relative;
    width: 60px;
    height: 30px;
    background-color: white;
    top: -70px;
    left: -160px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.title3-container {
    margin: 0px auto;
    position: relative;
    width: 100px;
    height: 30px;
    background-color: white;
    top: -100px;
    left: -50px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.title4-container {
    margin: 0px auto;
    position: relative;
    width: 100px;
    height: 30px;
    background-color: whitew;
    top: -130px;
    left: 80px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.title5-container {
    margin: 0px auto;
    position: relative;
    width: 60px;
    height: 30px;
    background-color: white;
    top: -160px;
    left: 180px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}


.login{
    outline-color: aqua;
}

.login input{
    display: block;
    position: relative;
    margin: 0px auto;
    text-align: center;
    background: none;
    padding: 6px;
    font-size: 15px;
    border-radius: 22px;
    width: 280px;
    outline-color: aqua;
    left: 430px;
    top: -190px;

}





.first-container{
    background-color: white  ;
    margin: 0px auto;
    padding: 0px;
    position: relative;
    width: 1150px;
    height: 300px;
    top: 50px;
    border-radius: 15px;
}

.fc1{
    background-color: gray;
    width: 120px;
    height: 160px;
    border-radius: 10px;
    position: relative;
    left: 100px;
    top: 40px;
}

.fc2{
    background-color: gray;
    width: 120px;
    height: 160px;
    border-radius: 10px;
    position: relative;
    left: 300px;
    top: -120px;
}

.fc3{
    background-color: gray;
    width: 120px;
    height: 160px;
    border-radius: 10px;
    position: relative;
    left: 500px;
    top: -280px;
}

.fc4{
    background-color: gray;
    width: 120px;
    height: 160px;
    border-radius: 10px;
    position: relative;
    left: 700px;
    top: -440px;
}

.fc5{
    background-color: gray;
    width: 120px;
    height: 160px;
    border-radius: 10px;
    position: relative;
    left: 900px;
    top: -600px;
}

.fc_1{
    background-color: lightgray;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    position: relative;
    left: 0px;
    top: 180px;
}

.fc_2{
    background-color: lightgray;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    position: relative;
    left: 0px;
    top: 180px;
}

.fc_3{
    background-color: lightgray;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    position: relative;
    left: 0px;
    top: 180px;
}

.fc_4{
    background-color: lightgray;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    position: relative;
    left: 0px;
    top: 180px;
}

.fc_5{
    background-color: lightgray;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    position: relative;
    left: 0px;
    top: 180px;
}



.second-container{
    background-color: white  ;
    margin: 0px auto;
    padding: 0px;
    position: relative;
    width: 1150px;
    height: 700px;
    top: 150px;
    border-radius: 15px;
}

.zxtk{
    position: relative;
    font-size: 15px;
    font-weight: bold;
    left: 20px;
    top: -60px;
}

.sc1{
    background-color: steelblue  ;
    margin: 0px auto;
    padding: 0px;
    position: relative;
    width: 640px;
    height: 25px;
    top: -55px;
    left: -240px;
    border-radius: 10px;
}

.diqu{
    font-weight: bold;
    position: relative;
    left: 8px;
    color: white;
}

.ztlx{
    background-color: lightgray;
    width: 950px;
    height: 180px;
    border-radius: 10px;
    position: relative;
    left: 110px;
}

.lnzt{
    background-color: lightgray;
    width: 950px;
    height: 180px;
    border-radius: 10px;
    position: relative;
    left: 110px;
    top: 40px;
}

.mnst{
    background-color: lightgray;
    width: 950px;
    height: 180px;
    border-radius: 10px;
    position: relative;
    left: 110px;
    top: 80px;
}

.bzhgl1{
    background-color: white;
    width: 220px;
    height: 100px;
    border-radius: 10px;
    position: relative;
    left: 80px;
    top: 40px;
}

.bzhgl2{
    background-color: white;
    width: 220px;
    height: 100px;
    border-radius: 10px;
    position: relative;
    left: 380px;
    top: -60px;
}

.bzhgl3{
    background-color: white;
    width: 220px;
    height: 100px;
    border-radius: 10px;
    position: relative;
    left: 680px;
    top: -160px;
}

.bzhgl4{
    background-color:  DodgerBlue;
    width: 50px;
    height: 130px;
    position: relative;
    left: 0px;
    top: -275px;
    border-radius: 15px;
}

.lnzt1{
    background-color: white;
    width: 220px;
    height: 100px;
    border-radius: 10px;
    position: relative;
    left: 80px;
    top: 40px;
}

.lnzt2{
    background-color: white;
    width: 220px;
    height: 100px;
    border-radius: 10px;
    position: relative;
    left: 380px;
    top: -60px;
}

.lnzt3{
    background-color: white;
    width: 220px;
    height: 100px;
    border-radius: 10px;
    position: relative;
    left: 680px;
    top: -160px;
}

.lnzt4{
    background-color:  Gold ;
    width: 50px;
    height: 130px;
    position: relative;
    left: 0px;
    top: -275px;
    border-radius: 15px;
}

.mnst1{
    background-color: white;
    width: 400px;
    height: 100px;
    border-radius: 10px;
    position: relative;
    left: 80px;
    top: 40px;
}

.mnst2{
    background-color: white;
    width: 400px;
    height: 100px;
    border-radius: 10px;
    position: relative;
    left: 500px;
    top: -60px;
}

.mnst3{
    background-color:  Gold ;
    width: 50px;
    height: 130px;
    position: relative;
    left: 0px;
    top: -175px;
    border-radius: 15px; 
}

.a{
    text-decoration: none;
    color: black;
}
